/factorial
/server
/stringarray
/backup/factorial
/backup/server
/backup/stringarray
/backup/cppvector
/cppvector
/backup/migration
/backup/pointerarray
/backup/fizzbuzz
/migration
/backup/simpledestruction
/simpledestruction
/backup/libcppvector.a
